
*{
	
	font-size:12px;
	
}

body{
	
	background:#b61924;
	
}

.logo_image{
	
	height:30px;
	
}

.navbar-brand {
  padding: 0px;
}

.navbar-default{
	
	padding:20px;
	border-radius:0px 0px 0px 0px;
	margin:0px 0px 15px 0px;
	
}

.row{
	
	margin:0px;
	padding:0px;
	
}

#wrapper{
	
	border-radius:0px;
	background:#fff;
	padding:20px 30px 30px 30px;
	
	margin:0px 0px 20px 0px;
	
}

h2{
	margin:0px;
	font-size:14px;
	background:#b61924;
	color:#fff;
	width:100%;
	padding:10px;
	background-color: rgba( 182, 25, 36, 0.0 );
	line-height:160%;
	
}

.bg_write{
	
	background:#fff;
	
}

.clear{
	
	clear:both;
	
}

#footer{
	
	background:#fff;
	margin:0px 0px 20px 0px;
	padding:10px 0px 10px 0px;
	
	text-align:center;
	font-size:12px;
	
}

#footer a{
	
	font-size:12px;
	
}

#front_left_box{
	float:left;
	width:5%;
	background:#fff;
}

#front_center_box{
	float:left;width:90%;
}

#front_right_box{
	float:left;
	width:5%;
	background:#fff;
}

#front-side_area{
	
	margin:0px;
	padding:0px;
	background:#fff;
	
}

#self-introduction{
	
	padding-top:20px;
	background:#fff;
	line-height:160%;
	
}

#bottom_area_xs{
	
	background:#fff;
	text-align:center;
	padding:10px 0px 0px 0px;
	
}

@media screen and (min-width : 768px){
	
	*{
		font-size:14px;
	}
	
	h2{
		font-size:18px;
	}
	
}

@media screen and (min-width : 970px) {
	
	.container {
		width: 970px;
	}
	
}


